<table id="positions">
  <th>Company Name</th>
  <th>Current Price</th>
  <th>Graph</th>

<% Company.all.each do |company| %>
  <tr>
    <td><a href="/company_page/<%= company.id %>" class="buy_stock"><%= company.name %></a></td> 
    <td><%= company.prices.last.price %></td>
    <td>TBD </td>
  </tr>
  <tr id="buy_form" style="display:none">
    <td>
      <form action="/buy_stock/<%= company.id %>" method="post" >
        Current Price: <%= company.prices.last.price %> <input type="text" name="quantitiy" placeholder="How Many?"/>
        <br>
        <input type="submit" />
        <br>
        <a href='/hide_form' id="hide_form" style="color:white">Hide Form</a>
      </form>
    <td>

  </tr>

<% end %>
</table>
